@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  font-family: 'Fira Sans', sans-serif;
  color: #555555;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.4;
  font-size: 1.5em;
}

h1 {
  line-height: 1.2;
  text-align: center;
}

[v-cloak] {
  display: none;
}

#sprint {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

#sprint li {
  display: inline-block;
  width: 5em;
  cursor: pointer;
  user-select: none;
  transition: color 0.5s;
}

#sprint li:hover {
  color: #daacd5;
}

#actions {
  text-align: center;
  margin-top: 3em;
}

#new-sprint-button {
  padding: .5em 1em;
  font-size: 100%;
  border: transparent;
  background-color: #E6E6E6;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}

#new-sprint-button:focus {
  outline: none;
}
